*.iml
.gradle
/local.properties
/.idea/caches
/.idea
/.kotlin/*
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/caches
/android
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/KernelSU_v1.0.5_12081-release.apk